{% extends '@FOSUser/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class = "container">
        <div class="wrapper">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'profile.show.username'|trans }}</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ user.username }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'profile.show.email'|trans }}</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ user.email }}</p>
                    </div>
                </div>
            </form>
            <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Editar</a>
            <a class="btn btn-primary" href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a>
        </div>
    </div>
{% endblock %}